extends ./layout.jade

block title
	title 交易详情查询
	link(rel="stylesheet", href="/css/detail.css")
block content
	input#orderID(type="hidden" value="#{id}")
	section(ng-controller="Detail")
		a(href="/" , class="fl font2") 去首页
		h1.tc.font.mb20  详情查看
		
		



	script(src="/js/detail.js")








