extends ./layout.jade

block title
	title 首页
	link(href="/css/index.css",rel="stylesheet")

block content

	//判断是否有session_id这个cookie决定显示哪个

	section#loginSection(ng-controller="Login", ng-show="!Logined")

		h1 Login Form
			
		form(id="formData" , class="loginBox" , ng-submit="loginFn(event)")
			div.form-group
				label
					| 手机号
				input(type="text" , name="phone" ,ng-model="phoneNumber" , placeholder="请输入手机号码")
			.form-group
				label
					| 密码
				input(type="password" , name="password" ,ng-model="password" , placeholder="请输入密码")
			.form-group.loginBox_btn.clearfix
				input(type="submit" , value="登陆" , class="fl")
				button(class="fl") 注册

	section(ng-show="Logined" , ng-controller="Manage")#manageSection
		h1 Manage 
		ul.index_manage
			li
				a(href="/receive")
					|收货界面
			li
				a(href="/order/")
					|交易查看界面
			li
				a(href="/type/")
					|品种管理
			li
				a(href="/stats/")
					|数据统计
			li
				a(href="#")
					|帐号管理
			li
				a(href="/api/loginout")
					|退出

	section(style={"display":"none"})#registSection
		h2
			|注册界面

	script(src="/js/index.js")