extends ./layout.jade

block title
	title 首页
	link(href="/css/index.css",rel="stylesheet")
	meta(name="baidu-site-verification", content="mbNj7Rv9lG")
block content

	//判断是否有session_id这个cookie决定显示哪个

	section#loginSection(ng-controller="Login")

		h1 Login Form
			
		form(id="formData" , class="loginBox" , ng-submit="loginFn(event)")
			div.form-group
				label
					| 手机号
				input(type="text" , name="phone" ,ng-model="phoneNumber" , placeholder="请输入手机号码")
			.form-group
				label
					| 密码
				input(type="password" , name="password" ,ng-model="password" , placeholder="请输入密码")
			.form-group.loginBox_btn.clearfix
				input(type="submit" , value="登陆" , class="fl")
				//- button(class="fl") 注册


	section(style={"display":"none"})#registSection
		h2
			|注册界面

	script(src="/js/index.js")