doctype html
html
	head
		meta(charset="utf8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
		base(href="/")
		block title
			title Default title
		link(rel="stylesheet", href="/js/libs/bower_components/bootstrap/dist/css/bootstrap.css")
		link(href="/css/base.css",rel="stylesheet")
		link(rel="stylesheet", href="/css/common.css")
		script(src="/js/libs/bower_components/requirejs/require.js")
		script(src="/js/common.js")
	body
		block content


		section#Cover.cover-box(style={"display": "none"})