extends ./layout.jade

block title
	title 交易查询
	link(rel="stylesheet", href="/css/order.css")
block content
	section(ng-controller="Orders")
		h1.tc.font 
			a(ng-click="goHomePage()" , class="fl font0") 去首页
			|交易查询
		
		.order-box
			.order-header(ng-tab , tab-class="btn-success")
				button.btn.btn-default.btn-success(ng-click="timechoice('today')") 今日交易
				button.btn.btn-default(ng-click="timechoice('week')") 本周交易
				button.btn.btn-default(ng-click="timechoice('month')") 本月
				button.btn.btn-default(ng-click="timechoice('other')") 其它时间段
				p 查询时间段：
					span.dealtime {{showchecktime}}
			.order-list.tc.mb20.order-title
				span 序号
				span 交易时间
				span 卖货人
				span 金额
				span 操作员
				span 备注
			ul.order-list
				li(ng-repeat="item in DataList" , ng-click="showDetail(item)")
					span.num {{$index+1}}
					span.time {{item.createdAt | toTime}}
					span {{item.seller}}
					span {{item.total}}
					span {{item.operator}}
					span {{item.comment | Dnull}}

			h3(ng-show="!DataList.length") 这个时间段没有数据
		.dialogBox.form-inline(ng-show="TimeDialog.show")
			h3.mb20 时间段选择
				span.fr(ng-click="TimeDialog.close()") X
			div.mb20
				strong 开始时间 
				<time-choice ng-time="TimeDialog.begin">dddd</time-choice>
			div.mb20
				strong 结束时间 
				<time-choice ng-time="TimeDialog.end">dddd</time-choice>
			button.btn.btn-success.btn-block.timechoice_btn(ng-click="TimeDialog.sure()") 确定

	script(src="/js/order.js")








