extends ./layout.jade

block title
	title 收货界面
	link(rel="stylesheet", href="/css/receive.css")
	link(rel="stylesheet", href="/css/detail.css")
block content
	section(ng-controller="Orders")
		h1.tc.font 
			a(ng-click="goHomePage()" , class="fl font0") 去首页
			|收货界面
		form.receive-box
			.receive-header.form-group.tc.form-inline
				label
					|卖货人: 
					input(type="text" , placeholder="请输入人名" , ng-model="Data.seller").form-control.mr10
				span 时间：{{Data.createdAt | toTime}}

			//货品列表

			ul.receive-list.form-group.form-inline
				li(ng-repeat="item in List")
					b.mr20 {{$index+1}}
					select.form-control(ng-model="AA" , ng-options="AA.name for AA in TypeList" , ng-change="typechange(AA , {{$index}})" , ng-if="item.newone")
						option(value="") 请选择类型
					button.fl.btn.btn-default.disabled(ng-if="!item.newone") {{item.type_name}}
					label.price.mr30.fr_input
						|价格
						input(type="text" , ng-model="item.price").form-control
						|元/kg
					label.weight.mr20.fr_input
						|净重
						input(type="text" , ng-model="item.weight").form-control
						|kg
					span.fr_input
						|小计：
						strong {{ item.weight * item.price | Money}}
						|元
					button.btn.btn-danger.fr.fr_input(ng-click="deletItem($index , item)")
						|删除
				p(ng-show="!List.length") 没有记录
				//- li
				//- 	b.mr20 1
				//- 	select.form-control
				//- 		option(value="铁") 铁
				//- 		option(value="塑料") 塑料
				//- 		option(value="生胶") 生胶
				//- 	label.weight.mr20
				//- 		|净重
				//- 		input(type="text").form-control
				//- 		|kg
				//- 	label.price.mr30
				//- 		|价格
				//- 		input(type="text").form-control
				//- 		|元/kg
				//- 	span
				//- 		|小计：
				//- 		strong 88.45
				//- 		|元
				//- 	button.btn.btn-danger.fr
				//- 		|删除

			//添加一项  和  保存
			.r_opertor
				button.btn.btn-success(ng-click="addItem()")
					|+添加一项
				buttton.btn.btn-default.fr.disabled
					|合计：
					span {{Data.total}}
					|元
				label
					|其它说明：
					textarea.form-control(placeholder="写一些额外补充" , ng-model="Data.comment")
				button.btn.btn-info.btn-block(ng-click="Save()")
					|保存


		//订单详情弹出框
		.detail.dialogBox(ng-show="DetailDialog.show")
			h3.mb10.tc 订单详情查看
				span.fr.closespan(ng-click="DetailDialog.close()") X

			.detail-info.mb5
				|卖货人：
				strong.mr30 {{DetailDialog.OrderData.seller}}
				|交易时间：
				strong {{DetailDialog.OrderData.createdAt | toTime}}
			table.table.table-striped.table-hover.detail-table
				tr.success
					th 序号
					th 品种名称
					th 价格
					th 净重
					th 小计
				tr(ng-repeat="item in DetailDialog.GoodsList")
					td {{$index+1}}
					td {{item.type_name}}
					td {{item.price}}元/kg
					td {{item.weight}}kg
					td {{item.one_total}}元
			h4(ng-show="!DetailDialog.GoodsList.length") 没有货物数据
			.detail-info2
				| 合计：
				strong {{DetailDialog.OrderData.total}}
				|元

			.detail-btns
				button.btn.btn-success(ng-click="DetailDialog.close()") 继续修改
				a.btn.btn-info(ng-click="goHomePage()") 去首页
	//- script(src="/js/libs/bower_components/jquery/dist/jquery.js")
	script(src="/js/receive.js")












