/*
 * content @ all the pages use Common css styles.
 * time    @ 2016.6.3
 * author  @ Mr.He
*/

/* dialog */
.cover-box{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 20;
	background: rgba(0,0,0,0.5);
	top: 0;
	left: 0;
}
.dialogBox{
	width: 300px;
	position: fixed;
	z-index: 21;
	top: 80px;
	left: 50%;
	margin-left: -150px;
	padding: 10px;
	border-radius: 5px;
	background: #f2f2f2;
}

.btn{
	padding: 5px;
	background: #090;
	color: #fff;
	line-height: 100%;
	text-align: center;
	border-radius: 5px;
}