/*
 * content @ order page style.
 * time    @ 2016.6.16
 * author  @ Mr.He
*/

.order-box{
	width: 800px;
	margin: 0 auto;
}
.order-header{
	overflow: hidden;
	padding-top: 30px;
}
.order-header button{
	margin-right: 15px;
}
.order-header p{
	margin: 10px 0;
	font-size: 16px;
}
.dealtime{
	font-size: 14px;
	color: #ccc;
}
.order-title{
	border-bottom: 1px solid #ccc;
}
.order-title span{
	font-weight: bold;
}
.order-list{
	line-height: 30px;
	overflow: hidden;
}
.order-list span{
	float: left;
	margin-right: 15px;
	overflow: hidden;
	/*background: #ccc;*/
	text-align: center;
}
.order-list .num{
	border-radius: 50%;
	background: #090;
	color: #fff;
	font-weight: bold;
	width: 30px!important;
	margin-right: 25px;
}
.order-list li{
	border:1px solid #fff;
	border-bottom: 1px solid #999;
	overflow: hidden;
	padding: 5px 0 5px 10px;
	margin-bottom: 20px;
	cursor: pointer;
}
.order-list li:hover{
	background: #f2f3f3;
	border: 1px solid #999;
	border-radius: 15px;
}
.order-list .time{
	font-size: 12px;
	color: #999;
}
.order-list span:nth-child(1){
	width: 50px;
}
.order-list span:nth-child(2){
	width: 130px;
}
.order-list span:nth-child(3){
	width: 100px;
}
.order-list span:nth-child(4){
	width: 100px;
	font-weight: bold;
}
.order-list span:nth-child(5){
	width: 100px;
}
.order-list span:nth-child(6){
	width: 200px;
	overflow: auto;
	max-height: 60px;
}



/* dialog */
div.dialogBox{
	padding: 20px;
	width: 400px;
	margin-left: -200px;
	box-sizing: content-box;
}
.dialogBox h3 span{
    width: 17px;
    height: 17px;
    line-height: 17px;
    border-radius: 50%;
    background: #090;
    color: #fff;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    padding: 3px;
    font-size: 16px;
    box-sizing: content-box;
}
.dialogBox select{
	width: 80px;
	font-size: 16px;
}
.btn.timechoice_btn{
	width: 30%;
	margin: 0 auto;
}

