extends ../layout.jade

block title
	title 类型管理页面
	link(href="/css/type.css" , rel="stylesheet")

block content
	section(ng-controller="TypeManage")
		h1 This is Type manage Page.
			a(href="/") 首页
		.type_box.mb10
			ul(class="type_list")
				li(ng-repeat="item in List")
					b {{$index+1}}
					strong {{item.name}}
					em {{item.price}}  &nbsp;元/KG
					span {{item.updatedAt}}
					button(ng-click="Dialog.changeFn(item , $index)" , class="m0") 修改/删除
			p(ng-show="!List.length") 您还没有添加类型
			button(class="type_additem" , ng-click="Dialog.addFn()") +添加

		.changeBox.dialogBox(ng-show="Dialog.show")
			h3 {{Dialog.msg}} <span ng-click="Dialog.closeFn()" class="fr">X</span>
			div(class="mb10")
				label 名称
				input(type="text",placeholder="请输入名称" , ng-model="Dialog.data.name")
			div(class="mb10")
				label 价格
				input(type="text",placeholder="请输入价格" , ng-model="Dialog.data.price")
			div(class="mb10")
				button(class="btn" , ng-click="save()") 保存
				button(class="fr btn" , ng-show="Dialog.state=='change'" , ng-click="deletItem(Dialog.data.id)") 删除
	script(src="/js/type.js")